@font-face {
	font-family: 'striveFont';
    src: url("/resources/assets/strive_font.otf") format("opentype");
    font-family: 'genshinFont';
    src: url("/resources/assets/genshin_font.ttf") format("opentype");
	font-family: 'doomFont';
    src: url("/resources/assets/doom_font.ttf") format("opentype");
	font-family: 'codFont';
    src: url("/resources/assets/cod_font.otf") format("opentype");
}

#cursor {
    display: none;
    font-family: striveFont;
    color: maroon;
    font-size: 50px;
    text-align: center;
    position: absolute;
    background-color: none;
    width: 75px;
    height: 50px;
    top: 1vh;
    right: 0;
    box-sizing: border-box;
    pointer-events: none;
    text-align: center;
}

#health-bar {
    transform: rotate(90deg);
    color: maroon;
    width: 40vw;
    height: 3vh;
}

#dmg-counter {
    display: none;
    font-family: striveFont;
    font-style: italic;
    text-align: right;
    font-size: 50px;
    color: maroon;
    position: absolute;
    width: 200px;
    height: 50px;
    margin: 20px;
    top: 35%;
}