@font-face {
	font-family: 'striveFont';
    src: url("../resources/assets/strive_font.otf") format("opentype");
	font-family: 'codFont';
    src: url("../resources/assets/cod_font.otf") format("opentype");
}

#cursor {
    display: none;
    font-family: striveFont;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
    color: maroon;
    font-size: 50px;
    position: absolute;
    background-color: none;
    width: 10vw;
    height: 10vh;
    top: 25vh;
    right: 3vw;
    box-sizing: border-box;
    pointer-events: none;
    text-align: center;
}

#cursor > span {
    justify-content: flex-end;
    
}

progress {
    display: none;
    border-radius: 7px;
    margin-left: -11.5%;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.1 );
    position: absolute;
    transform: rotate(90deg);
    background-color: maroon;
    left: 94vw;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
    top: 46vh;
    width: 50vh;
    height: 2vw;
    border-radius: 10px;
    border: 2px grey solid;
}

progress::-webkit-progress-bar {
    background-color: #FCEEEE;
    border-radius: 7px;
}
progress::-webkit-progress-value {
    background-color: maroon;
    border-radius: 0px;
}

#dmg-counter {
    display: none;
    font-family: striveFont;
    font-style: italic;
    text-align: right;
    font-size: 50px;
    color: maroon;
    position: absolute;
    width: 200px;
    height: 50px;
    margin: 20px;
    top: 35%;
}