.navbar {
    display: flex;
    position: relative;
    overflow: hidden;
    position: fixed;
    justify-content: right;
    width: 100%;
    height: inherit;
    padding-right: 20px;
    right: 0.1%;
    z-index: +1;
}

.navbar > * {    
    height: inherit;
    width: 50px;
    padding: 5px;
    align-items: center;
    display: flex;
    /* border: 1px black solid; */
}


.navbar:hover {
    cursor: pointer;
    /* box-shadow: 0 0 10px rgba(150, 150, 150, .8); */
    /* Hover borders go here */
}

#gameplay-bar {
    position: relative;
    padding-top: 10px;
    top: 0;
    width: 100%;
}

#social-media-bar {
    bottom: 2%;
}

.icon {
    color: black;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: text-bottom;
    -webkit-text-fill-color: maroon;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: grey;
}

.icon:hover {
    transform: scale(1.5);
    transition: transform .4s;
}