.navbar {
    display: flex;
    position: relative;
    overflow: hidden;
    position: fixed;
    justify-content: right;
    width: 100%;
    height: 50px;
    margin-right: 20px;
}

.navbar > * {
    height: 50px;
    width: 50px;
    margin: 5px;
    align-items: center;
    display: flex;
    /* border: 1px black solid; */
}

#gameplay-bar > li:first-child {
    padding-right: .5vw;
}

.icon {
    color: black;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: text-bottom;
    -webkit-text-fill-color: maroon;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: grey;
}

.navbar:hover {
    cursor: pointer;
    /* box-shadow: 0 0 10px rgba(150, 150, 150, .8); */
    /* Hover borders go here */
}

#gameplay-bar {
    position: relative;
    margin-top: 10px;
    top: 0;
    width: 100%;
}

#social-media-bar {
    padding-bottom: 6px;
}

